@media print{
  .printview {
         background-color: #ffffff;
    }
 .recive_sign{
    width: 98%;
    padding: 2%;
    text-align: center;
}


}


a:link {text-decoration:none;
color: #04457c;}    /* unvisited link */
a:visited {text-decoration:none;
color: #04457c;} /* visited link */
a:hover {text-decoration:underline;}   /* mouse over link */
a:active {text-decoration:underline;}

body 
{
    margin: 0;
    padding: 0;
    background-color: #f4f1f1;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#c-m-h
{
   display: none;
   border:2px solid #013c6f;
   border-radius: 25px;
   box-shadow: 0px 0px 10px #000;
    padding: 10px;
    background-color: #013c6f;
    color: #fff;
    font-weight: bold;
    
    
}
#closeBtn{
    float: right;
    position: absolute;
    
    right: -10px;
    top: -20px;
    
}
#c-m-h table{
     border-spacing:10px 10px;
}



#cmeTable
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}

#cmeTable td, #cmeTable th 
{
font-size:12px;
border:1px solid #000;
padding:1px 7px 1px 7px;
}

#cmeTable th 
{
font-size:12px;
text-align:left;
padding-top:3px;
padding-bottom:3px;
//background-color: #1b043d;
background-color:#013c6f;
color:#ffffff;
}
#logInFormDiv
{
   border: 1px #888888 solid;
   border-radius: 15px;
   width: 320px;
   float: left;
    margin: 20px;
    padding: 10px;
}

#logInForm
{
    border-spacing:10px 10px;
   
}
#logInForm img
{
    margin-left: 5px;
}

#logInForm td
{
   
    padding:1px 7px 1px 7px;
    
}
#loginFormSucessMsg
{
    color:#e4362f;
    float: left;    
    margin: 20px;
    padding: 10px;
}


#sucessmsg{
    color:#e4362f;
    
}



#cmeTable tr:nth-child(even) {background: #e2e2e2}
#cmeTable tr:nth-child(odd) {background: #FFF}

.sign{
    width: 20%;
    float: left;
    margin-right: 3%;
}
 .printview {
         background-color: #ffffff;
    }
.full{
    margin: 0 auto 0 auto;
    padding: 20px;
    background-color: #ffffff;
    width: 85%;
    box-shadow: 0px 0px 10px #888888;
    min-width: 945px;
}
.title{
    margin: 0 auto 0 auto;
    
    width: 50%;
    height: auto;
}

#menuList a{
    color:#ffffff;
}
#menuList
{
    margin: 0;
    padding: 0;
    color:#ffffff;

}

#menuList li { 
    list-style: none;
    display: inline;
margin:5px 5px 10px 5px;
background-color: #013c6f;
padding: 5px;
font-size: 14px;
font-weight: bold;
min-height: 30px;

}

#findMe 
{
   
}
#findInput
{
   
}
#findImage
{
   margin: 10px 0 -10px 0px;
}

#uname,#pass{
    padding: 3%;
}
#login{
    font-size: 150%;
}
.cme{
    //text-align: center;
}
.cus_detail{
    
    padding: 2%;
  
}
.customer_id_details{
     margin: 0 auto 0 auto;
    width: 150%;
  
}
.rolelogout{
    float: right;
    margin-top: -5%;
    margin-right: 2%;
}
h2{
    margin: 0;
    padding: 0;
  
}
.cidentitytran{
     
    border: solid 1px #002166;   
    padding: 1%;
      
}

.cidentity{
    width: 81%;
    border: solid 1px #002166;
    margin: 1%;
    padding: 1%;
    text-align: center;
}
#clpid{
    //text-align: center;
}
.cus_search_find{   
    //border: solid 1px #000;
    padding: 2%;
}


.cus_search_list{
   
      padding: 2%;
}
.listimg{
    width: 60%;
    height: 30px;
}


.userdetail{
    float: left;
    height: auto;
    width: 55%;
    
}





.clear{
    clear: both;
   
}
.frm_manage{
    width: 80%;
    margin: 0 auto 0 auto;
    
}

.frm{
    float: right;
    width: 15%;
}
.frminp{
    float: left;
    margin-left: 5%;
}

.userdetailimg{
  
  float: right;
  box-shadow: 0px 0px 5px #D0D0D0;
        
}
.issued {
    width: 25%;
}
.det_info{
    padding: 2%;
}
.id_details{
   
}
.cme_agent{
    width: 50%;
    border: solid 1px #000;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 2%;
}
.cme_agent_form{
    width: 70%;
    border: solid 1px #000;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 2%;
}
.full_form{
    margin: 0 auto 0 auto;
    padding: 0;
    background-color: #D0D0D0;
    width: 60%
}
.cme_name{
    float: left;
    width: 25%;
}
.cme_agent_logo{
    float: right;
    width: 25%;
}
.cme_n_a{
    width: 80%;
    margin: 0 auto 0 auto;
}
.cme_form{
    width: 100%;
    height: auto;
}
.cme_customer{
    width: 50%;
    float: left;
    height: auto;
    text-align: left;
    margin: 0 auto 0 3%;
}
.cme_official{
    width: 40%;
    float: right;
}
#owork{
    width: 90%;
    height: 185px;
    background-color: #003399;
    
}
.cme_a_add{
   
}
.t_left{
    float: left;
    width: 48%;
   
    margin-right: 1%;
}
.t_right{
    width: 45%;
    float: right;
}
.intexthc{
     padding: 2%;
    width: 90%;
}
.intids{
    padding: 2%;
    width: 38%;
    float: left;
    margin-left:  5%;
}
.a_name{
    padding: 4%;
    width: 90%;
}
.tra_dis{
    text-align: center;
}
.recive_sign{
    width: 98%;
    padding: 2%;
    text-align: center;
}
.sign{
    width: 20%;
    float: left;
    margin-right: 3%;
}
#sessionuser{
  
    color:#E13300;
    text-decoration: none;
}
#sessionuser img
{
    margin-right:  5px;
}

#footer
{
    margin: 10px 0 5px 0;
     background-color: #D0D0D0;
     text-align: center;
     font-size: 12px;
     color:#ffffff;
     padding: 1px;
}
.amountFigure{
    width: 300px;
}

